@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom utility classes */
.text-link-color {
  color: var(--link-color);
}

.github-logo {
    width: 24px;
    height: 24px;
    margin-left: 0.5rem;
    fill: currentColor; /* Ensure the fill is set to currentColor */
}

.footer {
    @apply w-full bg-background-color flex justify-center items-center text-text-color;
    color: var(--link-color); /* Apply the color property to the parent element */
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer-content {
    @apply flex items-center p-2;
}

.footer-logo {
  @apply mb-2; /* Add margin-bottom to create space between the logo and text */
}